/* css reset */
body{
    margin: 0;
    background-color: #F0F2EF;
}
h1{
    
font-family: 'Quicksand', sans-serif;
font-weight: 700;
}
h2{
    
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
p{
    
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
/* start page */
.img-wrapper{
    background-image: url(../images/king-of-snake-main-pic.jpg);
    height: 100vh;
    /* width: 100%; */
    /* background-position: top 0 left 0; */
    background-repeat: no-repeat;
    object-fit: cover;
    
}
.logo-vid{
width: 100%;
text-align: center;
padding: 50px 0px;
}
.logo-vid img{
    width: 250px;
    height: 250px;
}
.button-parent{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* flex-direction: column; */
    padding-top: 50px;
    justify-content: space-evenly;
}
.button{
   
    background-color: #810505;
    min-width: 372px;
    /* height: 92px; */
    font-size: 32px;
    border-radius: 10px;
    margin: 45px;
    padding: 35px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    
}
.button a{
    text-decoration: none;
    color: #F0F2EF;
}
/* page2 */
.welcome{
    color: #F0F2EF;
    font-family: 'Quicksand', sans-serif;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0;
}
.subhead{
    padding: 50px 0;
    text-align: center;
    color: #F0F2EF;
    background-color: #003844;
    font-size: 16px;
}
.monarch{
    background-color: #561C72;
    width: 372px;
    /* height: 92px; */
    font-size: 32px;
    border-radius: 10px;
    margin: 45px;
    padding: 35px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.monarch a{
    text-decoration: none;
    color: #F0F2EF;
}
/* page 3 */
.flex-consistent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 20px;
}
.back-button{
    /* justify-content: flex-start; */
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5px;
   font-family: 'Quicksand', sans-serif;
}

.logo-brand img{
    max-width: 150px;
    
}

.eng-dropdown{
    background-color: #810505;
    border-radius: 10px;
    border: #D4AF37 1px solid;
    padding: 2px 3px !important;
    height: 20px;
}
.eng-lang{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.breadcrumb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /* align-items: flex-start; */
    gap: 10px;
    margin-left: 32px;
    margin-top: 15px;
    color: black;
}

.breadcrumb li{
    list-style: none;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 500;
   
    
}
.breadcrumb a{
    text-decoration: none;
    color: black;
}
.current{
    font-weight: 700 !important;
}
/* menu select */
.menu-header{

    text-align: center;

}
.menu-select-lunch{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.7)) ,url("../images/kos-default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.menu-select-dinner{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.7)) ,url("../images/kos-dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.menu-select-desserts{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.873)) ,url("../images/kos-dessert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    background-position: center;
    display: flex;
    justify-content: center;
}
.menu-blurb{
    color: #F0F2EF;
    text-align: center;
    padding: 25px 0;
}
.option-b{
    text-align: center;
}

.monarch-option{
    text-align: center;
    border-radius: 10px;
    border: #810505 5px solid;
    margin: 0 100px;
}